@import url("https://fonts.googleapis.com/css?family=Roboto:100i,300,400,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900&subset=cyrillic");
/* RESET */
* {
  margin: 0;
  padding: 0;
}

/* PAGE STYLE */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #E2E2DF;
}

h1, h2 {
  font-family: 'PlayFairDisplay';
  font-size: 32px;
}

a {
  transition: 0.4s;
}

a:hover, a:active, a:focus {
  color: #00e0d0;
  text-decoration: none;
}

.overlay {
  background: rgba(52, 39, 92, 0.85);
  height: inherit;
}

.line {
  height: 2px;
  background: #00e0d0;
  border: 0;
  width: 50px;
  margin: 0 auto;
}

.more {
  font-size: 16px;
  padding: 14px;
  border: 2px solid #00e0d0;
  font-weight: 700;
  display: block;
  max-width: 120px;
  color: #00e0d0;
  text-align: center;
}

.more:hover {
  border: 2px solid #fff;
  color: #fff;
}

.display_none {
  display: block !important;
}

/* 
******************************************************
*********************INDEX-PAGE***********************
******************************************************
 */
/* HEADER */
.header {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
}

.header .more {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: calc(50% - 240px);
}

.header .row {
  margin: 25px 0 0 0;
}

.logo span {
  background-image: url(../img/icons/logo.svg);
  background-size: contain;
  width: 32px;
  height: 32px;
  display: inline-block;
  position: relative;
  margin: 0px 5px -6px 10px;
}

.logo p {
  font-size: 30px;
  font-weight: 100;
  font-style: italic;
  color: #00e0d0;
  text-transform: uppercase;
  display: inline;
}

.navbar .menu_icon {
  display: none;
  width: 40px;
  height: 35px;
  position: absolute;
  right: 20px;
  cursor: pointer;
}

.navbar .menu_icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background: #00e0d0;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.navbar .menu_icon span:nth-child(1) {
  top: 0px;
}

.navbar .menu_icon span:nth-child(2) {
  top: 13px;
}

.navbar .menu_icon span:nth-child(3) {
  top: 13px;
}

.navbar .menu_icon span:nth-child(4) {
  top: 26px;
}

.navbar .nav {
  display: block;
}

.navbar .nav ul {
  padding: 0;
  margin: 10px 0 0 0;
  text-align: right;
}

.navbar .nav ul li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
}

.navbar .nav ul li a {
  font-size: 13px;
  font-weight: 700;
  padding: 35px 22px;
  color: #fff;
}

.navbar .nav ul li a:hover, .navbar .nav ul li a:focus, .navbar .nav ul li a:active {
  color: #00e0d0;
}

.active {
  color: #00e0d0 !important;
}

.navbar_state_open .menu_icon span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.navbar_state_open .menu_icon span:nth-child(2) {
  transform: rotate(45deg);
}

.navbar_state_open .menu_icon span:nth-child(3) {
  transform: rotate(-45deg);
}

.navbar_state_open .menu_icon span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.banner {
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - 100px);
  margin: 0 auto;
  max-width: 900px;
  padding: 0 15px;
}

.banner h1 {
  color: #fff;
  text-align: center;
}

.banner p {
  color: #ebebee;
  text-align: center;
  line-height: 24px;
  padding: 25px 0;
}

/* ABOUT ME */
.about_me {
  text-align: center;
  max-width: 900px;
  margin: 60px auto;
}

.about_me h2 {
  margin: 30px 0;
}

.about_me p {
  line-height: 25px;
  padding: 10px 15px;
  letter-spacing: 0.3px;
}

.skills {
  background-image: url(../img/skills-bg.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.skills .row {
  margin-top: 60px;
}

.skills .row .html5 {
  background-image: url(../img/icons/html-5-logo.svg);
  background-size: contain;
}

.skills .row .css3 {
  background-image: url(../img/icons/css-3.svg);
  background-size: contain;
}

.skills .row .js {
  background-image: url(../img/icons/js.svg);
  background-size: contain;
}

.skills .about_skill {
  margin: 30px 0 60px 0;
}

.skills .about_skill p {
  line-height: 25px;
  padding: 10px 0;
  letter-spacing: 0.3px;
  color: #fff;
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.skills .about_skill a {
  margin: 30px auto;
}

.icon {
  margin: 30px auto;
  width: 100px;
  height: 100px;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
}

.portfolio h2 {
  margin: 30px 0;
}

.portfolio .more {
  margin: 35px auto;
  color: rgba(52, 39, 92, 0.85);
  border: 2px solid rgba(52, 39, 92, 0.85);
}

.portfolio .more:hover {
  color: #00e0d0;
  border: 2px solid #00e0d0;
}

.portfolio .container {
  margin: 20px auto 40px;
}

.thumb {
  position: relative;
  overflow: hidden;
  width: 375px;
  height: 300px;
  max-width: 100%;
  border-radius: 10px;
  transition: 0.4s;
  margin: 20px auto;
}

.thumb img {
  position: absolute;
  width: 100%;
  left: 50%;
  top: 50%;
  object-fit: cover;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 375px;
  height: 300px;
  z-index: -1;
}

.thumb:hover {
  background-color: rgba(52, 39, 92, 0.85);
}

.thumb:hover::before {
  content: '';
  background-image: url(../img/icons/eye-close-up.svg);
  background-size: cover;
  width: 60px;
  height: 50px;
  display: block;
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  right: 0;
  margin: 0 auto;
}

/* FOOTER */
.footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.footer .footer_content {
  margin: 60px auto;
  color: #fff;
}

.footer h2 {
  text-align: center;
}

.footer p {
  line-height: 20px;
  padding: 10px 0;
  letter-spacing: 0.3px;
}

.footer .contact_me {
  margin: 15px auto;
}

.footer .contact_me span {
  width: 15px;
  height: 15px;
  display: inline-block;
  position: relative;
  margin: 0px 5px -2px 0px;
}

.footer .contact_me p {
  font-size: 15px;
  font-weight: 100;
  font-style: italic;
  color: #00e0d0;
  display: inline;
  padding: 2px 0;
}

.footer .phone span {
  background-image: url(../img/icons/telephone.svg);
  background-size: contain;
}

.footer .email span {
  background-image: url(../img/icons/email.svg);
  background-size: contain;
}

.footer .social {
  margin: 0 auto;
  display: inline-block;
  position: relative;
  text-align: center;
}

.footer .social span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
}

.footer .social .row {
  margin: 10px auto;
}

.footer .vk span {
  background-image: url(../img/icons/vk.svg);
  background-size: contain;
}

.footer .facebook span {
  background-image: url(../img/icons/facebook.svg);
  background-size: contain;
}

.footer .instagram span {
  background-image: url(../img/icons/instagram.svg);
  background-size: contain;
}

.footer .telegram span {
  background-image: url(../img/icons/telegram.svg);
  background-size: contain;
}

.footer .viber span {
  background-image: url(../img/icons/viber.svg);
  background-size: contain;
}

.footer .whatsapp span {
  background-image: url(../img/icons/whatsapp.svg);
  background-size: contain;
}

/* BUTTON UP */
.button-up {
  background-image: url(../img/icons/arrow-up.svg);
  background-size: contain;
  display: none;
  width: 35px;
  height: 35px;
  position: fixed;
  right: 15px;
  bottom: 20px;
}

/* 
******************************************************
*********************ABOUT_ME-PAGE***********************
******************************************************
*/
.about {
  margin: 50px auto;
  text-align: center;
}

.about h2 {
  margin: 10px auto;
}

.about p {
  padding: 15px;
  line-height: 27px;
  letter-spacing: 0.4px;
}

.about .container {
  max-width: 900px;
}

.about .about-my-skills {
  color: #fff;
}

.about .about-my-skills a {
  color: #fff;
}

.about .about-my-skills a:hover {
  color: #00e0d0;
}

.about .about-my-skills .container {
  padding: 65px 0;
}

.about .about-my-skills .skill {
  text-align: left;
  margin: 10px auto;
  padding: 0 15px;
}

.about .about-my-skills .skill p {
  display: inline;
}

.about .about-my-skills .skill h3 {
  display: inline;
  color: #00e0d0;
}

.about .hobby {
  padding: 30px 0 15px 0;
}

/* 
******************************************************
*********************PORTFOLIO-PAGE***********************
******************************************************
*/
.portfolio-page {
  margin: 50px auto;
  text-align: center;
}

.portfolio-page p {
  line-height: 24px;
  padding: 10px 0 10px 0;
}

.portfolio-page .portfolio-project {
  margin: 30px auto;
  border: 2px solid rgba(52, 39, 92, 0.85);
}

.portfolio-page .portfolio-project .preview-pic img {
  width: 100%;
  height: 220px;
  padding: 10px;
}

.portfolio-page .portfolio-project .preview h3 {
  padding: 10px 0 10px 0;
}

.portfolio-page .portfolio-project .preview p {
  padding: 10px;
  line-height: 22px;
}

.portfolio-page .portfolio-project .preview span {
  font-weight: 700;
  font-size: 15px;
}

.portfolio-page .portfolio-project .preview a {
  margin: 10px auto;
  color: rgba(52, 39, 92, 0.85);
  border-color: rgba(52, 39, 92, 0.85);
}

.portfolio-page .portfolio-project .preview a:hover {
  color: #00e0d0;
  border-color: #00e0d0;
}

/* MEDIA */
@media screen and (max-width: 767px) {
  h1, h2 {
    font-size: 25px;
  }
  .navbar {
    position: relative;
  }
  .navbar .menu_icon {
    display: inline-block;
    z-index: 51;
  }
  .navbar .nav {
    position: absolute;
    display: none;
    background-color: rgba(52, 39, 92, 0.85);
    z-index: 50;
    overflow: auto;
    top: -25px;
    right: -30px;
    padding: 10px;
    width: 320px;
    height: 100vh;
  }
  .navbar .nav ul {
    margin: 90px auto;
  }
  .navbar .nav ul li {
    display: block;
    margin: 25px auto;
    text-align: center;
  }
  .navbar .nav ul li a {
    padding: 12px;
  }
  .footer {
    text-align: center;
    line-height: 25px;
  }
  .footer .col-md-4 {
    margin: 20px auto;
  }
  .footer .social span {
    height: 75px;
    width: 75px;
  }
  .preview-pic img {
    height: 100% !important;
  }
}

@media screen and (max-width: 449px) {
  .banner {
    position: inherit;
  }
}

@media screen and (max-height: 569px) {
  .header .banner {
    position: inherit;
  }
  .header .banner p {
    padding: 10px;
    line-height: 20px;
  }
  .header .banner h1 {
    line-height: 20px;
  }
  .header .more {
    position: inherit;
    margin: 10px auto;
  }
}
